body {
  font-family: Arial;
  background: #f4f4f4;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 400px;
  margin: 30px auto;
  background: white;
  padding: 20px;
  border-radius: 10px;
}

h1 {
  text-align: center;
}

form input, form select, form button {
  width: 100%;
  padding: 8px;
  margin: 5px 0;
}

button {
  background: #4CAF50;
  color: white;
  border: none;
  cursor: pointer;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  background: #eee;
  margin: 5px 0;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

li div button {
  margin-left: 5px;
}
